body{
    background-color: white;
}

img{
    margin-top: -50vh;
    width: 70%;
    margin-bottom: -150vh;
}

button{
    margin-top: -5%;
}


.exercise{
    margin: 0 auto;
    text-align: center;
    padding-top: 2%;
}
