body{
    background-color: white;
}

img{
    margin-top: -70vh;
    width: 70%;
    margin-bottom: -150vh;
}

button{
    margin-top: -10vh;
}


.exercise{
    margin: 0 auto;
    text-align: center;
    padding-top: -10%;
}
