body{
    background-color: white;
}

img{
    width: 70%;
    margin-bottom: -100vh;
}

button{
    margin-top: -5%;
}


.exercise{
    margin: 0 auto;
    text-align: center;
    padding-top: 5%;
}
